* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: #464f6a;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 1rem;
}

main {
    max-width: 1085px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a5acc4;
    min-height: 100vh;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

li {
    line-height: 140%;
    padding-bottom: 0.3rem;
}

p {
    line-height: 140%;
    margin-left: 1rem;
}

hr {
    border-top: 1px solid #464f6a;
    border-bottom: transparent;
    margin: 0;
}

h1 {
    font-style: italic;
    margin-top: 0;
    padding-top: 1.5rem;
}

h1,
h2 {
    font-weight: lighter;
    text-align: center;
}

img {
    width: 270px;
    height: 300px;
    object-fit: cover;
    object-position: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#top-content {
    display: grid;
    grid-template:
        "a b";
}

#achievements {
    display: grid;
    grid-template:
        "a b" /1fr 1fr;
}

@media (max-width: 790px) {
    #top-content {
        display: grid;
        grid-template:
            "a"
            "b";
    }

    #achievements {
        display: grid;
        grid-template:
            "a"
            "b";
    }

    p {
        margin-left: 0;
    }

    img {
        margin-bottom: 0;
    }
}

#image {
    grid-area: a;
    margin-left: auto;
    margin-right: auto;
}

#biography {
    grid-area: b;
}

#movies {
    grid-area: a;
}

#awards {
    grid-area: b;
}

.pending {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #2b3041;
}

.winner {
    color: #88642f;
}

.nominee {
    color: #464f6a;
}

address {
    text-align: center;
    padding-bottom: 1rem;
    line-height: 120%;
}